.green{
    color: #16A34A;
    font-weight:bold;
    

}

.red{

    color:red;
    font-weight: bold;
   

}

.blue{

    color: #16A34A;
    font-weight: bold;

}

body{

background-color: #F0FDF4;

}