<!DOCTYPE html>
<html ng-app="campus360">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>College Dashboard</title>
</head>
<body ng-controller="dashboardcontroller">
    <input type="text" ng-model="collegename">
    <h1>{{collegename}}</h1>
    <input type="text" ng-model="Name">
    <p>Name:{{Name}}</p>
    <input type="text" ng-model="email">
    <p>Email:{{email}}</p>
    <input type="text" ng-model="regno">
    <p>Registration No:{{regno}}</p>
    <input type="text" ng-model="dep">
    <p>Department:{{dep}}</p>
    <input type="text" ng-model="course">
    <p>Course:{{course}}</p>
    <input type="text" ng-model="totalStudents">
    <p>Total Students:{{totalStudents}}</p>
    <button ng-click="totalStudents=totalStudents+1">Add Student</button> 

    <h2>Student List</h2>
    <button ng-click="showstudents= !showstudents">
        show/hide students
    </button>

    <div ng-if="showDashboard= !showDashboard">
    <ul ng-show="showstudents">
        <li ng-repeat="student in students">

            {{student}}

        </li>
    </ul>
    </div>
</body>
</html>